{
    # globale Optionen, falls du magst
}

{$LINOS_SERVICE_INDEX_HOST}:{$PROXY_HTTP_PORT} {
    reverse_proxy 127.0.0.1:{$SERVICE_INDEX_PORT}
}

{$LINOS_HA_HOST}:{$PROXY_HTTP_PORT} {
    reverse_proxy 127.0.0.1:{$HA_PORT}
}

{$LINOS_PLANE_HOST}:{$PROXY_HTTP_PORT} {
    reverse_proxy 127.0.0.1:{$PLANE_PROXY_PORT}
}

{$LINOS_FLOW_HOST}:{$PROXY_HTTP_PORT} {
    reverse_proxy 127.0.0.1:{$NODE_RED_PORT}
}

{$LINOS_DNS_HOST}:{$PROXY_HTTP_PORT} {
    reverse_proxy 127.0.0.1:{$DNS_WEB_PORT}
}

